.markdown-preview-sizer {
	position: relative;
}

.caosmos-block-overlay {
	z-index: 0;
	border: 1px solid var(--background-modifier-border);
	border-radius: 12px;
	box-sizing: border-box;
}

.el-p, .el-pre, .el-ul, .el-ol, .el-h1, .el-h2, .el-h3 {
	position: relative;
	z-index: 1;
}